.actuator .service-block {
    padding: 20px;
}

.actuator .service-block i {
    color: #fff;
    float: left;
    font-size: 50px;
    margin: 0 20px 20px 0;
}

.actuator .service-block .service-heading,
.actuator .service-block .service-in small {
    color: #fff;
    opacity: 0.8;
    line-height: 1;
}

.actuator .service-block .service-in h4,
.actuator .service-block .counter,
.actuator .service-block .status {
    color: #fff;
}

.actuator .service-block .service-heading {
    font-size: 16px;
    text-transform: uppercase;
}

.actuator .service-block .counter,
.actuator .service-block .status {
    display: block;
    line-height: 1;
    font-size: 30px;
}

.actuator .service-block .progress {
    margin-bottom: 7px;
}

/*Service Inner*/
.actuator .service-block .service-in small {
    font-size: 16px;
    text-transform: uppercase;
}

.actuator .service-block .service-in h4 {
    font-size: 16px;
    line-height: 0.8;
    margin-bottom: 0;
}

/*Statistics*/
.actuator .service-block .statistics .heading-xs {
    color: #fff;
    opacity: 0.8;
}

.actuator .service-block .statistics small {
    color: #fff;
}

.actuator .service-block .statistics .progress {
    background: #bbb;
}

.actuator .service-block .statistics .progress-bar-light {
    background: #fff;
}

.warning-color-green {
    background: #72c02c;
}

.warning-color-blue {
    background: #3498db;
}

.warning-color-yellow {
    background: #CCFF33;
}

.warning-color-orange {
    background: #e67e22;
}

.warning-color-red {
    background: #FF0000;
}